    body {
      background-color: #111;
      color: #eee;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      background-color: #222;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 20px;
      width: 400px;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="tel"] {
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-bottom: 10px;
      width: 100%;
      background-color: #444;
      color: #eee;
      font-size: 16px;
      outline: none;
    }

    input[type="submit"] {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #eee;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
      background-color: #3e8e41;
    }

    table {
      border-collapse: collapse;
      width: auto;
      background-color: #222;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    th, td {
      text-align: left;
      padding: 10px;
    }

    th {
      background-color: #333;
      color: #eee;
    }

    td button {
      padding: 5px 10px;
      background-color: #f44336;
      color: #eee;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      margin-left: 5px;
      transition: background-color 0.3s ease;
    }

    td button.edit {
      background-color: #4CAF50;
    }

    td button:hover {
      background-color: #e53935;
    }

    .hidden {
      display: none;
    }

    #editName, #editPhone {
      margin-bottom: 10px;
    }

    .error {
      color: red;
      margin-bottom: 10px;
    }